<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="./">Lego Collection</a>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Link</a></li>
        <li>
          <details>
            <summary>
              Parent
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-center hidden sm:flex"></div>
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Theme</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/lego/sets?theme=technic">Technic</a></li>
              <li><a href="/lego/sets?theme=knights">Knights</a></li>
              <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">All About Me</h1>
            <p class="py-6">Student. Aspiring programmer.</p>
          </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <img class="w-full rounded-1g" src="https://static.vecteezy.com/system/resources/previews/021/877/305/original/girl-student-cartoon-doodle-kawaii-anime-coloring-page-cute-illustration-drawing-clip-art-character-chibi-manga-comic-free-png.png">
        <div class="Info About Me">
            <p>
            <br>
            <br>
            <br>
            <br>
            <br>
                My name is Christine. I'm a second year programming student at Seneca.
                I aspire to be a full-stack developer! 

                When I'm not studying I like to bake and hike. 
            </p>
        </div>
    </div>



  </div>



  </body>