<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <%- include('partials/navbar', {page: '/about'}) %>


  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">All About Me</h1>

          <p class="py-6">Student. Aspiring programmer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <img class="w-full rounded-1g" src="https://static.vecteezy.com/system/resources/previews/021/877/305/original/girl-student-cartoon-doodle-kawaii-anime-coloring-page-cute-illustration-drawing-clip-art-character-chibi-manga-comic-free-png.png">
        <div class="Info About Me">
            <p>
            <br>
            <br>
            <br>
            <br>
            <br>
                <p>My name is Christine. I'm a second year programming student at Seneca.
                  I aspire to be a full-stack developer! It is alot of work at the moment,
                  but it is very rewarding and I feel like I am learning so much! I can't 
                  wait to see what more I can learn. </p>
            <br>
                <p>When I'm not studying I like to bake and hike. I love trying new foods and new 
                activities!</p> 
            </p>
        </div>
    </div>



  </div>



  </body>