<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <%- include('partials/navbar', {page: '/'}) %>

<div class = "container mx-auto px-4">
  <div class="hero bg-base-200 rounded-1g p-6">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Welcome</h1>
        <p class="py-6">Build something new today with Lego!</p>
        <a href="/lego/sets" class="btn btn-primary">Join the fun</a>
      </div>
    </div>
  </div>
</div>
<br>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="card bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/21034-1.jpg" alt="London Set" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">London Set</h2>
          <p>Available exclusively for purchase at the LEGO Store Leicester Square in London, United Kingdom.</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/21034-1" class="btn btn-primary">VIEW</a>
          </div>
        </div>
      </div>


      <div class="card bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10280-1.jpg" alt="Flower Bouquet" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Flower Bouquet</h2>
          <p>This set was part of a VIP Sweepstakes Botanical Collection Bundle that ran during February 2023.</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/10280-1" class="btn btn-primary">VIEW</a>
          </div>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/10276-1.jpg" alt="Colosseum"/>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Colosseum</h2>
          <p>A build of epic proportions. Faithfully recreated with over 9,000 pieces, this impressive amphitheater is a symbol of Italy's imperial Roman past, and a monumental building challenge for architecture and travel fans alike.</p>
          <div class="card-actions justify-end">
            <a href="/lego/sets/10276-1" class="btn btn-primary">VIEW</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
</html>